@font-face {
  font-display: swap;
  font-family: Gilroy-Medium;
  src: url(src/assets/gilroy-medium.ttf) format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Gilroy-Medium;
}

body,
#root {
  display: grid;
  background-color: #f0f5fa;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 96px 1fr;
}

header {
  grid-column: 1 / span 2;
  width: 100%;
  color: white;
  background-color: #000046;
  display: grid;
  align-items: center;
  height: 96px;
  padding: 20px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.main-profile-picture {
  background-color: #64dc78;
  color: #000046;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

h1 {
  display: inline;
}

img {
  display: inline;
  height: 56px;
}

aside {
  background-color: green;
  grid-row: 2;
  grid-column: auto;
}
